{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'scraper/js/Jquery_src/jQuery_min.js' %}"></script>
<script src="{% static 'scraper/js/logged_in.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'scraper/css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'scraper/css/header_style.css' %}">
    <link rel="stylesheet" href="{% static 'scraper/css/footer_style.css' %}">
    {% block header_ref %}{% endblock %}
</head>
<body>
{% block body_header %}
{% render_partial 'scraper.views.header' %}
{% endblock %}
{% block body %}{% endblock %}
{% render_partial 'scraper.views.footer' %}
</body>
<script src="{% static 'scraper/js/main_script.js' %}"></script>
{% block footer_ref %}{% endblock %}
</html>